 <app-header></app-header>
        <app-nav-bar></app-nav-bar>
<div class="page-wrapper">
<div class="container-fluid">
<div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Dashbords </h3>
                    </div>
                </div>
	<div class="row" style="border: 1px solid #ddd;padding: 10px;background: #fff;border-radius: 15px;">
		<div class="col-3">
			<div>Plant</div>
			<div>
				<select class="form-control" *ngIf="recordsFilter" [(ngModel)]="plant">
						<option *ngFor="let key of objectKey(formatedCerts(recordsFilter ,'plant'))">{{key}}</option>
				</select>
			</div>
		</div>
		
		<div class="col-3">
			<div>Projet</div>
			<div>
				<select class="form-control" [(ngModel)]="project">
					<option *ngFor="let key of objectKey(formatedCerts(recordsFilter,'project'))">{{key}}</option>
				</select>
			</div>
		</div>
		<div class="col-3">
			<div>Famille</div>
			<div>
				<select class="form-control" [(ngModel)]="family">
					<option *ngFor="let key of objectKey(formatedCerts(recordsFilter,'famille'))">{{key}}</option>
				</select>
			</div>
		</div>
		<div class="col-3">
			<div>Line</div>
			<div>
				<select class="form-control">
					  <option *ngFor="let rec of recordsFilter | filterData : family : 'famille' | filterData : project : 'project' | filterData : plant : 'plant'">{{rec.linee}}</option>
				</select>
			</div>
		</div>
	</div>
	<hr>
            	<div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                    	<canvas  id="ippm"></canvas>
                         <div class="text-center mt-3"><span>IPPM</span></div>
                    </div>
                </div>
       
</div>
</div>