<div class="container-fluid">
            	<div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                    	<canvas  id="totalErreors"></canvas>
                         <div class="text-center mt-3"><span>Total Errors</span></div>
                    </div>
                    <div class="col-md-6 col-8 align-self-center">
                    	<canvas  id="testedHarness"></canvas>
                         <div class="text-center mt-3"><span>Error/ tested harness</span></div>
                    </div>
                </div>
</div>